# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
ENV/
.env

# Logs
logs/
*.log

# Database
luna_music.db
*.db
*.sqlite3

# Audio
temp_audio/

# UI / Node
node_modules/
dist/
.DS_Store

# OS
Thumbs.db
desktop.ini
